<!-- begin edit 'condition' -->
<h3 class="labelPageTitle">Edit - Condition</h3>

<div class="formLayout10">
  <% form_for(@condition) do |f| %>
  <%= f.error_messages -%>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size=>90 %>
  </p>

  <p>
    <%= f.label :google_url %><br />
    <%= f.text_field :google_url, :size=>120 %>
  </p>

  <p>
    <%= f.label :wiki_url %><br />
    <%= f.text_field :wiki_url, :size=>120 %>
  </p>

  <p>
    <%= f.submit 'Update', :confirm => 'Are you sure?' %>
  </p>

  <% end %>
</div><!-- end of formLayout10 -->

<div class="navLink">
    <%= link_to 'Back', @condition %> | 
    <%= link_to 'Index', conditions_path %>
</div><!-- end of navLink -->
<!-- end of 'condition' -->
