<h1>Editing condition</h1>

<% form_for(@condition) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </p>
  <p>
    <%= f.label :google_url %><br />
    <%= f.text_field :google_url %>
  </p>
  <p>
    <%= f.label :wiki_url %><br />
    <%= f.text_field :wiki_url %>
  </p>  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @condition %> |
<%= link_to 'Back', conditions_path %>
