<!-- new.html.erb -->
<div class="floatLeftLabelPageTitle marginBottom20">
    <p>New - Condition</p>
</div>

<div class=" clearBoth indent">
  <% form_for(@condition) do |f| %>
  <%= f.error_messages %>
</div>

<div class="clearBoth indent">
  <div class="floatLeft clearLeft" style="margin: 5px 0 5px 10px;"><%= f.label :name        %><div><%= f.text_field :name, :size=>30 %></div></div>
  <div class="floatLeft clearLeft" style="margin: 5px 0 5px 10px;"><%= f.label :google_url  %><div><%= f.text_field :google_url %></div></div>
  <div class="floatLeft clearLeft" style="margin: 5px 0 5px 10px;"><%= f.label :wiki_url    %><div><%= f.text_field :wiki_url %></div></div>
  <div class="floatLeft clearLeft" style="margin: 5px 0 5px 10px;"><%= f.submit 'Create'    %></div>
  <% end %>
</div><!-- end of indent -->

<div class="floatLeft clearBoth indent marginTop20 link">
    <%= link_to 'Back', conditions_path %>
</div><!-- end of link -->
