<!-- begin new 'condition' -->
<% title "New - Condition" %>

<div class="formLayout10">
  <% form_for(@condition) do |f| %>
  <%= f.error_messages -%>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size=>90 %>
  </p>

  <p>
    <%= f.label :google_url %><br />
    <%= f.text_field :google_url, :size=>120 %>
  </p>

  <p>
    <%= f.label :wiki_url %><br />
    <%= f.text_field :wiki_url, :size=>120 %>
  </p>

  <p>
    <%= f.submit 'Create', :confirm => 'Are you sure?' %>&nbsp;
    <%= f.submit "Reset", :type => "reset",  :confirm => 'Are you sure?'%>
  </p>

  <% end %>
</div><!-- end of formLayout10 -->

<%= link_to 'Index', conditions_path, :class =>"navLink" %>
<!-- end of 'condition' -->
