<!-- begin new 'condition' -->
<div class="labelPageTitle">
    <p>New - Condition</p>
</div>

<div class="formLayout">
  <% form_for(@condition) do |f| %>
  <%= f.error_messages %>
</div>

<div class="formLayout">
  <div class="formInput"><%= f.label :name        %><div><%= f.text_field :name, :size=>90 %></div></div>
  <div class="formInput"><%= f.label :google_url  %><div><%= f.text_field :google_url, :size=>120 %></div></div>
  <div class="formInput"><%= f.label :wiki_url    %><div><%= f.text_field :wiki_url, :size=>120 %></div></div>
  <div class="formInput"><%= f.submit 'Create', :confirm => 'Are you sure?'    %></div>
  <% end %>
</div><!-- end of formLayout -->

<div class="navLink">
    <%= link_to 'Cancel', conditions_path, :confirm => 'Are you sure?' %>
</div><!-- end of navLink -->
<!-- end of 'condition' -->
