<!-- begin show 'condition' -->
<% title "Condition" %>

<div class="formLayout">
  <div class="formLabel">ID:</div>
  <div class="formData"><%=h @condition.id %></div>
  <div class="formLabel">Name:</div>
  <div class="formData"><%=h @condition.name %></div>
  <div class="formLabel">Created:</div>
  <div class="formData"><%=h @condition.created_at %></div> 
  <div class="formLabel">Updated:</div>
  <div class="formData"><%=h @condition.updated_at %></div>
  <div class="formLabel">Google URL:</div>
  <div class="formData"><%=h @condition.google_url %></div>
  <div class="formLabel">Wiki URL:</div>
  <div class="formData"><%=h @condition.wiki_url %></div>
</div><!-- end of formLayout -->
<br />
<div class="navLink">
    <%= link_to 'Edit', edit_condition_path(@condition) %> | 
    <%= link_to 'Index', conditions_path %>
</div><!-- end of navLink -->

<!-- not support yet 
  <div class="indent" style="display: inline">
      <%= link_to 'Destroy', condition_path(@condition.id), :confirm => 'Are you sure?', :method => :delete %>
  </div>
-->
<!-- end of 'condition' -->
