<!-- begin index 'audit' -->
<div class="formLayout10">
  <table cellspacing="0" cellpadding="0">
    <tr><th>
      <div class="mainScrollWindowHeader auditTableWidth">
          <div id="<%= 'row' + 0.to_s + 'col' + (col= 0).to_s %>" class="auditCol0"> ID </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="auditCol1"> AUDIT ID </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="auditCol2"> AUDIT TYPE </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="auditCol3"> USER ID </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="auditCol4"> USER TYPE </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="auditCol5"> USERNAME </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="auditCol6"> ACTION </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="auditCol7"> CHANGES </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="auditCol8"> VERSION </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="auditCol9"> CREATED AT </div>
      </div><!-- end of mainScrollWindowHeader -->
    </th></tr>
    <tr><td>
      <div class="auditTableWidth" id="mainScrollWindowData">
      <% row=1 %>
        <% @audit.each do |audit| %>

        <!-- Temp Fix for (No user logged in) -->
        <% audit.user_id = 0 unless !audit.user_id.blank? %>
        <% audit.user_type = "No user" unless !audit.user_type.blank?%>
        <% audit.username = "none" unless !audit.username.blank? %>

        <div class="mainDataRow" id="<%= 'row' + row.to_s %>">
            <div id="<%= 'row' + row.to_s + 'col' + (col= 0).to_s %>" class="auditCol0"><%= h audit.id %></div>
            <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="auditCol1"><%= h audit.auditable_id %></div>
            <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="auditCol2"><%= h audit.auditable_type %></div>
            <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="auditCol3"><%= h audit.user_id %></div>
            <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="auditCol4"><%= h audit.user_type %></div>
            <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="auditCol5"><%= h audit.username %></div>
            <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="auditCol6"><%= h audit.action %></div>

            <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="auditCol7"><%= h truncate(audit.changes.to_s, :length => 40 ) %></div>
        
            <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="auditCol8"><%= h audit.version %></div>
            <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="auditCol9"><%= h audit.created_at.to_s.slice(0,20) %></div>
          <% row+=1 %><br />
        </div><!-- end of mainDataRow -->
        <% end %>
      </div><!-- end of mainScrollWindowData -->
    </td></tr>
  </table>
</div><!-- end of 'audit' -->
