<h1>&#60Company Name&#62 Audit Records</h1>

<table class="X3" rules="none" border="1">
  <tr>
    <th> Id              </th>
    <th> Auditable id    </th>
    <th> Auditable type  </th>
    <th> User id         </th>
    <th> User type       </th>
    <th> Username        </th>
    <th> Action          </th>
    <th> Changes         </th>
    <th> Version         </th>
    <th> Created at      </th>
  </tr>

<% @audit.each do |audit| %>
  <tr>
    <td><%= h audit.id               %></td>
    <td><%= h audit.auditable_id     %></td>
    <td><%= h audit.auditable_type   %></td>
    <td><%= h audit.user_id          %></td>
    <td><%= h audit.user_type        %></td>
    <td><%= h audit.username         %></td>
    <td><%= h audit.action           %></td>

    <td><%= h truncate(audit.changes.to_s, :length => 120 ) %></td>

    <td><%= h audit.version          %></td>
    <td><%= h audit.created_at       %></td>

    <td><%= link_to 'Show', audit %></td>
    <td><%= link_to 'Delete', audit, :method => :delete %></td>
    
  </tr>
<% end %>
</table>

<br />
