<!-- begin show 'audit record' -->
<h3 class="labelPageTitle">Audit Record</h3>

<div class="auditLayout">
  <table cellspacing="0" cellpadding="0">
    <tr><th>
      <div class="auditTableWidth" id="mainScrollWindowHeader">
        <div id="mainHeaderRow">
          <div class="auditCol0"> ID </div>
          <div class="auditCol1"> AUDIT ID </div>
          <div class="auditCol2"> AUDIT TYPE </div>
          <div class="auditCol3"> USER ID </div>
          <div class="auditCol4"> USER TYPE </div>
          <div class="auditCol5"> USERNAME </div>
          <div class="auditCol6"> ACTION </div>
          <div class="auditCol7"> CHANGES </div>
          <div class="auditCol8"> VERSION </div>
          <div class="auditCol9"> CREATED AT </div>
        </div><br /><!-- end of mainHeaderRow -->
      </div><!-- end of mainScrollWindowHeader -->
    </th></tr>
    <tr><td>

      <!-- Temp Fix for (No user logged in) -->
      <% @audit.user_id = 0 unless !@audit.user_id.blank? %>
      <% @audit.user_type = "No user" unless !@audit.user_type.blank?%>
      <% @audit.username = "none" unless !@audit.username.blank? %>

      <div class="mainDataRow">
          <div class="auditCol0"><%= h @audit.id %></div>
          <div class="auditCol1"><%= h @audit.auditable_id %></div>
          <div class="auditCol2"><%= h @audit.auditable_type  %></div>
          <div class="auditCol3"><%= h @audit.user_id %></div>
          <div class="auditCol4"><%= h @audit.user_type %></div>
          <div class="auditCol5"><%= h @audit.username %></div>
          <div class="auditCol6"><%= h @audit.action %></div>

          <div class="auditCol7"><%= h truncate(@audit.changes.to_s, :length => 40 ) %></div>
      
          <div class="auditCol8"><%= h @audit.version %></div>
          <div class="auditCol9"><%= h @audit.created_at.to_s.slice(0,20) %></div>
        <br />
      </div><!-- end of mainDataRow -->
    </td></tr>
  </table>
</div><!-- end of formLayout -->
<br />
<div class="auditAttributeTitle">
  Attribute Changes:
</div>

<div class="auditTableWidth" id="mainScrollWindowData1">
    <!-- Show Changes -->
    <% @audit.changes.each do |k,v| %>
      <% if @audit.action == "update" %>
        <div class="auditLabel">Attribute:</div>
        <div class="auditData"><%= k %></div><br />
        <div class="auditLabel">From:</div>
        <div class="auditData"><%= v.first.to_s %></div><br />
        <div class="auditLabel">To:</div>
        <div class="auditData"><%= v.last.to_s %></div><br />
      <% else %>
        <div class="auditLabel">Attribute:</div>
        <div class="auditData"><%= k %></div><br />
        <div class="auditLabel">New:</div>
        <div class="auditData"><%= v.to_s %></div><br />
      <% end %>
    <% end %>
</div><!-- end of mainScrollableWindowData1 -->

<div class="navLink">
  <%= link_to 'Index',   audit_index_path  %>  |  
  <%= link_to 'Delete', audit_path(@audit.id), :confirm => 'Are you sure?', :method => :delete %>
</div><!-- end of navLink -->
<!-- end of 'audit record' -->
