<!-- show.html.erb -->
<div class="floatLeftLabelPageTitle marginBottom20">
    <p>Audit Record</p>
</div>

<div class="indent clearBoth">
  <table cellspacing="0" cellpadding="0">
    <tr><th>
      <div id="mainScrollWindowHeader" style="width: 1060px;">
        <div id="mainHeaderRow">
          <div class="floatLeft auditCol0"> ID </div>
          <div class="floatLeft center auditCol1"> AUDIT ID </div>
          <div class="floatLeft auditCol2"> AUDIT TYPE </div>
          <div class="floatLeft center auditCol3"> USER ID </div>
          <div class="floatLeft center auditCol4"> USER TYPE </div>
          <div class="floatLeft auditCol5"> USERNAME </div>
          <div class="floatLeft center auditCol6"> ACTION </div>
          <div class="floatLeft auditCol7"> CHANGES </div>
          <div class="floatLeft center auditCol8"> VERSION </div>
          <div class="floatLeft auditCol9"> CREATED AT </div>
        </div><br /><!-- end of mainHeaderRow -->
      </div><!-- end of mainScrollWindowHeader -->
    </th></tr>
    <tr><td>

      <!-- Temp Fix for Blank Div's (No user logged in) -->
      <% @audit.user_id = 0 unless !@audit.user_id.blank? %>
      <% @audit.user_type = "No user" unless !@audit.user_type.blank?%>
      <% @audit.username = "none" unless !@audit.username.blank? %>

      <div id="mainScrollableWindowData" style="width: 1060px;">
        <div class="mainDataRow">
            <div class="floatLeft auditCol0"><%= h @audit.id %></div>
            <div class="floatLeft center auditCol1"><%= h @audit.auditable_id %></div>
            <div class="floatLeft auditCol2"><%= h @audit.auditable_type  %></div>
            <div class="floatLeft center auditCol3"><%= h @audit.user_id %></div>
            <div class="floatLeft center auditCol4"><%= h @audit.user_type %></div>
            <div class="floatLeft auditCol5"><%= h @audit.username %></div>
            <div class="floatLeft center auditCol6"><%= h @audit.action %></div>

            <div class="floatLeft auditCol7"><%= h truncate(@audit.changes.to_s, :length => 40 ) %></div>
        
            <div class="floatLeft center auditCol8"><%= h @audit.version %></div>
            <div class="floatLeft auditCol9"><%= h @audit.created_at.to_s.slice(0,20) %></div>
          <br />
        </div><!-- end of mainDataRow -->
      </div><!-- end of mainScrollWindowData -->
    </div></tr>
  </table>
</div><!-- end of indent -->
<br />
<div class="floatLeftLabelTitle14">
    <p>Attribute Changes:</p>
</div>

<div class="clearBoth">
  <div id="mainScrollableWindowData1" style="width: 1060px;">
      <!-- Show Changes -->
      <% @audit.changes.each do |k,v| %>
        <% if @audit.action == "update" %>
          <div class="floatLeftLabel">Attribute:</div>
          <div class="floatLeftData"><%= k %></div><br />
          <div class="floatLeftLabel">From:</div>
          <div class="floatLeftData"><%= v.first.to_s %></div><br />
          <div class="floatLeftLabel">To:</div>
          <div class="floatLeftData"><%= v.last.to_s %></div><br />
        <% else %>
          <div class="floatLeftLabel">Attribute:</div>
          <div class="floatLeftData"><%= k %></div><br />
          <div class="floatLeftLabel">New:</div>
          <div class="floatLeftData"><%= v.to_s %></div><br />
        <% end %>
      <% end %>
  </div><!-- end of mainScrollableWindowData1 -->
</div><!-- end of indent -->

<div class="floatLeft clearBoth indent marginTop20 link">
  <%= link_to 'Index',   audit_index_path  %>  |  
  <div class="indent" style="display: inline">
      <%= link_to 'Destroy', audit_path(@audit.id), :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div><!-- end of link -->
