<!-- begin '_login' -->
<div class="formLayout">
  <% form_for(@user) do |f| %>
  <%= f.error_messages %>
</div>

<div class="formLayout">
  <div class="formLayout1"><%= f.label :username              %><div><%= f.text_field :username, :size=>32 %></div></div>
  <div class="formLayout1"><%= f.label :email                 %><div><%= f.text_field :email, :size=>32 %></div></div>
  <div class="formLayout1"><%= f.label :password              %><div><%= f.password_field :password, :size=>32 %></div></div>
  <div class="formLayout1"><%= f.label :password_confirmation %><div><%= f.password_field :password_confirmation, :size=>32 %></div></div>
  <div class="formLayout1"><%= f.submit 'Update', :confirm => 'Are you sure?' %></div>
  <% end %>
</div><!-- end of formLayout -->
<!-- end of '_login' -->
