<!-- begin '_login' -->

<div>
  <% form_for(@user) do |f| %>
  <%= f.error_messages -%>

  <h4>User (option 1)</h4>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username, :size=>32 %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :size=>32 %>
  </p>

  <% if @user.openid_identifier.blank? %>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password, :size=>32 %>
    </p>

    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, :size=>32 %>
    </p>

    <p>
      <%= f.submit 'Submit', :confirm => 'Are you sure?' %>
    </p>

  <% end %>
  <br />
  <h4>OpenID (option 2)</h4>

  <p>
    <%= f.label :openid_identifier, "OpenID URL" %><br />
    <%= f.text_field :openid_identifier, :size=>32 %>
  </p>

  <p>
    <%= f.submit 'Submit', :id => "openId", :confirm => 'Are you sure?' %>
  </p>
  <% end %>
</div><br class="clearBoth" />

<!-- end '_login' -->
