<!-- begin '_login' -->

<div class="formLayout">
  <% form_for(@user) do |f| %>
  <%= f.error_messages %>
</div>

<div class="formLayout">
  <div class="formLayout1"><%= f.label :username              %><div><%= f.text_field :username, :size=>32 %></div></div>
  <div class="formLayout1"><%= f.label :email                 %><div><%= f.text_field :email, :size=>32 %></div></div>

  <% if @user.openid_identifier.blank? %>
  <div class="formLayout1"><%= f.label :password              %><div><%= f.password_field :password, :size=>32 %></div></div>
  <div class="formLayout1"><%= f.label :password_confirmation %><div><%= f.password_field :password_confirmation, :size=>32 %></div></div>
  <div class="formLayout1"><%= f.submit 'Submit', :confirm => 'Are you sure?' %></div>
  <% end %>
  <div class="formTitle1">
    <br />
    <p>Or use OpenID:</p>
  </div>
  <div class="formLayout1"><%= f.label :openid_identifier, "OpenID URL" %><div><%= f.text_field :openid_identifier, :size=>32 %></div></div>
  <div class="formLayout1"><%= f.submit 'Submit', :confirm => 'Are you sure?' %></div>
  <% end %>
</div><!-- end of formLayout -->
<!-- end of '_login' -->
