<!-- begin index 'user' -->
<% javascript 'show_record' %>
<h3 class="labelPageTitle">User Accounts</h3>

<div class="tableLayout">
  <table cellspacing="0" cellpadding="1px">
    <tr><th>
      <div class="userTableWidth" id="mainScrollWindowHeader">
        <div id="mainHeaderRow"> 
          <div id="<%= 'row' + 0.to_s + 'col' + (col= 0).to_s %>" class="userCol0"  title="User ID"> ID </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="userCol1"  title="User Name"> USER</div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="userCol2"  title="Email"> EMAIL </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="userCol3"  title="Crypted Password"> C </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="userCol4"  title="Password Salt"> S </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="userCol5"  title="Persistence Token"> P </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="userCol6"  title="Login Count"> LP </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="userCol7"  title="Failed Login Count"> LF</div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="userCol8"  title="Login Last Request"> Login(LR)</div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="userCol9"  title="Login Current"> Login(C)</div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="userCol10" title="Login Last"> Login(L)</div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="userCol11" title="Current Login IP"> Current IP</div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="userCol12" title="Last Login IP"> Last IP</div>
        </div><br /><!-- end of mainHeaderRow -->
      </div><!-- end of mainScrollWindowHeader -->
    </th></tr>
    <tr><td>
      <div class="userTableWidth" id="mainScrollWindowData">
      <% row = 1;%>
        <% @users.each do |user| %>
        <div class="mainDataRow" id="<%= 'row' + row.to_s %>">
          <div id="<%= 'row' + row.to_s + 'col' + (col= 0).to_s %>" class="userCol0"><%= h user.id %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="userCol1"><%= h truncate(user.username,  :length => 10 ) %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="userCol2"><%= h truncate(user.email,  :length => 20 ) %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="userCol3"><%= h truncate(user.crypted_password,  :length => 3 ) %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="userCol4"><%= h truncate(user.password_salt,  :length => 3 ) %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="userCol5"><%= h truncate(user.persistence_token,  :length => 3 ) %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="userCol6"><%= h truncate(user.login_count.to_s,  :length => 4 ) %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="userCol7"><%= h truncate(user.failed_login_count.to_s,  :length => 4 ) %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="userCol8"><%= h user.last_request_at.to_s.slice(0,10) %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="userCol9"><%= h user.current_login_at.to_s.slice(0,10) %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="userCol10"><%= h user.last_login_at.to_s.slice(0,10) %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="userCol11"><%= h user.current_login_ip.to_s.slice(0,15) %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="userCol12"><%= h user.last_login_ip.to_s.slice(0,15) %></div>

          <% row+=1 %><br />
        </div><!-- end of mainDataRow -->
        <% end %>
      </div><!-- end of mainScrollWindowData -->
    </td></tr>
  </table>
</div><!-- end of tableLayout -->

<%= link_to 'New User', new_user_path, :class=>"navLink" %>
<!-- end of 'user' -->
