<!-- begin show 'user' -->
<div class="labelPageTitle">
    <p>User Account</p>
</div>

<div class="indent10">
  <div class="floatLeftLabel">User ID:</div>
  <div class="floatLeftData"><%= h @user.id %></div>
  <div class="floatLeftLabel">Login Name:</div>
  <div class="floatLeftData"><%=h @user.username %></div>
  <div class="floatLeftLabel">Email:</div>
  <div class="floatLeftData"><%=h @user.email %></div> 
  <div class="floatLeftLabel">Login Count:</div>
  <div class="floatLeftData"><%= h @user.login_count %></div>
  <div class="floatLeftLabel">Failed Login Count:</div>
  <div class="floatLeftData"><%= h @user.failed_login_count %></div>
  <div class="floatLeftLabel">Last Request At:</div>
  <div class="floatLeftData"><%= h @user.last_request_at%></div>
  <div class="floatLeftLabel">Current Login At:</div>
  <div class="floatLeftData"><%= h @user.current_login_at %></div>
  <div class="floatLeftLabel">Last Login At:</div>
  <div class="floatLeftData"><%= h @user.last_login_at %></div>
  <div class="floatLeftLabel">Current Login IP:</div>
  <div class="floatLeftData"><%= h @user.current_login_ip %></div>
  <div class="floatLeftLabel">Last Login IP:</div>
  <div class="floatLeftData"><%= h @user.last_login_ip %></div>

  <div class="floatLeftLabel">Crypted Password:</div>
  <div class="floatLeftData"><%=h @user.crypted_password.to_s.slice(0,64) %></div>
  <div class="floatLeftLabel">64-127:</div>
  <div class="floatLeftData"><%=h @user.crypted_password.to_s.slice(64,64) %></div>

  <div class="floatLeftLabel">Password Salt:</div>
  <div class="floatLeftData"><%=h @user.password_salt %></div>

  <div class="floatLeftLabel">Persistence Token:</div>
  <div class="floatLeftData"><%=h @user.persistence_token.to_s.slice(0,64) %></div>
  <div class="floatLeftLabel">64-127:</div>
  <div class="floatLeftData"><%=h @user.persistence_token.to_s.slice(64,64) %></div>
</div>

<br />

<div class="navLink">
  <%= link_to 'Edit', edit_user_path(@user) %>  | 
  <%= link_to 'Back', users_path %> |
  <div class="indent" style="display: inline">
      <%= link_to 'Delete', user_path(@user.id), :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div><!-- end of navLink -->
<!-- end of 'user' -->
