<!-- begin show 'user' -->
<% title "User Account" %>

<div>
  <div class="formLabel">User ID:</div>
  <div class="formData"><%= h @user.id %></div>
  <div class="formLabel ">Login Name:</div>
  <div class="formData"><%=h @user.username %></div>
  <div class="formLabel ">Email:</div>
  <div class="formData"><%=h @user.email %></div> 
  <div class="formLabel ">Login Count:</div>
  <div class="formData"><%= h @user.login_count %></div>
  <div class="formLabel ">Failed Login Count:</div>
  <div class="formData"><%= h @user.failed_login_count %></div>
  <div class="formLabel ">Last Request At:</div>
  <div class="formData"><%= h @user.last_request_at%></div>
  <div class="formLabel ">Current Login At:</div>
  <div class="formData"><%= h @user.current_login_at %></div>
  <div class="formLabel ">Last Login At:</div>
  <div class="formData"><%= h @user.last_login_at %></div>
  <div class="formLabel ">Current Login IP:</div>
  <div class="formData"><%= h @user.current_login_ip %></div>
  <div class="formLabel ">Last Login IP:</div>
  <div class="formData"><%= h @user.last_login_ip %></div>

  <div class="formLabel ">Crypted Password:</div>
  <div class="formData"><%=h @user.crypted_password.to_s.slice(0,64) %></div>
  <div class="formLabel ">64-127:</div>
  <div class="formData"><%=h @user.crypted_password.to_s.slice(64,64) %></div>

  <div class="formLabel ">Password Salt:</div>
  <div class="formData"><%=h @user.password_salt %></div>

  <div class="formLabel ">Persistence Token:</div>
  <div class="formData"><%=h @user.persistence_token.to_s.slice(0,64) %></div>
  <div class="formLabel ">64-127:</div>
  <div class="formData"><%=h @user.persistence_token.to_s.slice(64,64) %></div>
</div><br class="clearBoth" /><!-- end of formLayout -->

<p>
  <%= link_to 'Edit', edit_user_path(@user) %>  | 
  <%= link_to 'Index', users_path %> |
  <%= link_to 'Delete', user_path(@user.id), :confirm => 'Are you sure?', :method => :delete %>
</p><!-- end of navLink -->
<!-- end of 'user' -->
