<!-- Shared Layout -->
<%= render :partial => "shared/header" %> 

<!-- shared/main -->
<body class="twoColHybLay" onload="startTime()">
    <%= render :partial => "shared/main_banner" %>
    <%= render :partial => "shared/main_menu_bar" %>
    <%= render :partial => "shared/main_status" %>
    <%= render :partial => "shared/main_content" %>
    <%= render :partial => "shared/main_footer" %>
</body>
</html>
