<!-- edit.html.erb -->
<div class="floatLeftLabelPageTitle marginBottom20">
    <p>Edit - Patient Condition</p>
</div>

<div class=" clearBoth indent">
  <% form_for(@patient_condition) do |f| %>
  <%= f.error_messages %>
</div>

<div class="clearBoth indent">
  <div class="floatLeft clearLeft" style="margin: 5px 0 5px 10px;"><%= f.label :patient_profile_id %><div><%= collection_select(:patient_condition, :patient_profile_id, PatientProfile.all, :id, :first_name ) %></div></div>
  <div class="floatLeft clearLeft" style="margin: 5px 0 5px 10px;"><%= f.label :condition_id       %><div><%= collection_select(:patient_condition, :condition_id, Condition.all, :id, :name )  %></div></div>
  <div class="floatLeft clearLeft" style="margin: 5px 0 5px 10px;"><%= f.label :start_date         %><div><%= f.date_select :start_date, {:start_year=>1800, :end_year=>Time.now.year} %></div></div>
  <div class="floatLeft clearLeft" style="margin: 5px 0 5px 10px;"><%= f.label :end_date           %><div><%= f.date_select :end_date, {:start_year=>1800, :end_year=>Time.now.year} %></div></div>
  <div class="floatLeft clearLeft" style="margin: 5px 0 5px 10px;"><%= f.label :treated_by         %><div><%= f.text_field :treated_by %></div></div>
  <div class="floatLeft clearLeft" style="margin: 5px 0 5px 10px;"><%= f.label :treat_notes        %><div><%= f.text_field :treat_notes %></div></div>
  <div class="floatLeft clearLeft" style="margin: 5px 0 5px 10px;"><%= f.submit 'Update'           %></div>
  <% end %>
</div><!-- end of indent -->

<div class="floatLeft clearBoth indent marginTop20 link">
    <%= link_to 'Show', @patient_condition %> |
    <%= link_to 'Back', patient_conditions_path %>
</div><!-- end of link -->
