<h1>editing patient_condition</h1>
  <table class="X3"rules="none" border="1">
  <tr>
<% form_for(@patient_condition) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :patient_profile_id %><br />
    <%= collection_select(:patient_condition, :patient_profile_id, PatientProfile.all, :id, :first_name ) %>
  </p>

  <p>
    <%= f.label :condition_id %><br />
    <%= collection_select(:patient_condition, :condition_id, Condition.all, :id, :name )  %>
  </p>

  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, {:start_year=>1800, :end_year=>Time.now.year} %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, {:start_year=>1800, :end_year=>Time.now.year} %>
  </p>
  <p>
    <%= f.label :treated_by %><br />
    <%= f.text_field :treated_by %>
  </p>
  <p>
    <%= f.label :treat_notes %><br />
    <%= f.text_field :treat_notes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @patient_condition %> |
<%= link_to 'Back', patient_conditions_path %>

  </tr>
</table>
