<!-- begin index 'patient conditions' -->
<% javascript 'show_record' %>
<% title "Patient Conditions" %>

<div class="tableLayout">
  <table cellspacing="0" cellpadding="0">
    <tr><th>
      <div class="patientConditionTableWidth" id="mainScrollWindowHeader">
        <div id="mainHeaderRow">
          <div id="<%= 'row' + 0.to_s + 'col' + (col= 0).to_s %>" class="patientConditionCol0" title="Patient Condition ID"> PC ID </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol1" title="Patient Profile ID"> PP ID </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol2" title="Condition ID"> COND ID </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol3" title="First Name"> FIRST NAME </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol4" title="Patient ID"> PATIENT ID </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol5" title="Condition Name"> CONDITION NAME </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol6" title="Start Date"> START DATE </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol7" title="End Date"> END DATE </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol8" title="Treated By"> TREATED BY </div>
          <div id="<%= 'row' + 0.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol9" title="Treat Notes"> TREAT NOTES </div>
        </div><br /><!-- end of mainHeaderRow -->
      </div><!-- end of mainScrollWindowHeader -->
    </th></tr>
    <tr><td>
      <div class="patientConditionTableWidth" id="mainScrollWindowData">
      <% row=1 %>
        <% @patient_conditions.each do |patient_condition| %>
        <div class="mainDataRow" id="<%= 'row' + row.to_s %>">
          <div id="<%= 'row' + row.to_s + 'col' + (col= 0).to_s %>" class="patientConditionCol0"><%=h patient_condition.id %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol1"><%=h patient_condition.patient_profile_id %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol2"><%=h patient_condition.condition_id %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol3"><%=h patient_condition.patient_profile.first_name %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol4"><%=h patient_condition.patient_profile.pmd_patient_id %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol5"><%=h truncate(patient_condition.condition.name, :length=>35) %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol6"><%=h patient_condition.start_date %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol7"><%=h patient_condition.end_date %></div>
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol8"><%=h truncate(patient_condition.treated_by, :length=> 20) %></div> 
          <div id="<%= 'row' + row.to_s + 'col' + (col+=1).to_s %>" class="patientConditionCol9"><%=h truncate(patient_condition.treat_notes, :length=>25) %></div>
          <% row+=1 %><br />
        </div><!-- end of mainDataRow -->
        <% end %>
      </div><!-- end of mainScrollWindowData -->
    </td></tr>
  </table>
</div><!-- end of tableLayout -->

<%= link_to 'New Patient Condition', new_patient_condition_path, :class=>"navLink" %>
<!-- end of 'patient condition' -->
