<!-- begin new 'patient condtion' -->
<% title "New - Patient Condition" %>

<div class="formLayout10">
  <% form_for(@patient_condition) do |f| %>
  <%= f.error_messages -%>

  <p>
    <%= f.label :patient_profile_id %><br />
    <%= collection_select(:patient_condition, :patient_profile_id, PatientProfile.all, :id, :first_name ) %>
  </p>

  <p>
    <%= f.label :condition_id %><br />
    <%= collection_select(:patient_condition, :condition_id, Condition.all, :id, :name )  %>
  </p>

  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, {:start_year=>1800, :end_year=>Time.now.year} %>
  </p>

  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, {:start_year=>1800, :end_year=>Time.now.year} %>
  </p>

  <p>
    <%= f.label :treated_by %><br />
    <%= f.text_field :treated_by %>
  </p>

  <p>
    <%= f.label :treat_notes %><br />
    <%= f.text_field :treat_notes %>
  </p>

  <p>
    <%= f.submit 'Create', :confirm => 'Are you sure?' %>&nbsp;
    <%= f.submit "Reset", :type => "reset",  :confirm => 'Are you sure?'%>
  </p>

  <% end %>
</div><!-- end of formLayout10 -->

  <%= link_to 'Index', patient_conditions_path, :class => "navLink" %>
<!-- end of 'patient condtion' -->
