<!-- begin show 'patient condition' -->
<div class="labelPageTitle">
    <p>Patient Condition</p>
</div>

<div class="formLayout">
  <div class="formLabel">Patient Profile:</div>
  <div class="formData"><%=h @patient_condition.patient_profile.first_name %></div>
  <div class="formLabel">Condition:</div>
  <div class="formData"><%=h @patient_condition.condition.name %></div>
  <div class="formLabel">Start Date:</div>
  <div class="formData"><%=h @patient_condition.start_date %></div> 
  <div class="formLabel">End Date:</div>
  <div class="formData"><%=h @patient_condition.end_date %></div>
  <div class="formLabel">Treated by:</div>
  <div class="formData"><%=h @patient_condition.treated_by %></div>
  <div class="formLabel">Treat notes:</div>
  <div class="formData"><%=h @patient_condition.treat_notes %></div>
</div><!-- end of formLayout -->
<br />
<div class="navLink">
    <%= link_to 'Edit', edit_patient_condition_path(@patient_condition) %> |        
    <%= link_to 'Back', patient_conditions_path %> |         
    <%= link_to 'Delete', patient_condition_path(@patient_condition.id), :confirm => 'Are you sure?', :method => :delete %>
</div><!-- end of navLink -->
<!-- end of 'patient condition' -->
