<h1>Patient Condition</h1>

<p>
  <b>Patient Profile:</b>
  <%=h @patient_condition.patient_profile.first_name %>
</p>

<p>
  <b>Condition:</b>
  <%=h @patient_condition.condition.name %>
</p>

<p>
  <b>Start date:</b>
  <%=h @patient_condition.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @patient_condition.end_date %>
</p>

<p>
  <b>Treated by:</b>
  <%=h @patient_condition.treated_by %>
</p>

<p>
  <b>Treat notes:</b>
  <%=h @patient_condition.treat_notes %>
</p>


<%= link_to 'Edit', edit_patient_condition_path(@patient_condition) %> |
<%= link_to 'Back', patient_conditions_path %>
