<h1>"Work Order In Process - need order actions"</h1>
  <table class="X3"rules="none" border="1">
      <tr>
        <th>Record ID</th>
        <th>Condition Name</th>
        <th>Treated By</th>
        <th>Treatment Notes</th>
        <th>Google Info</th>
        <th>Wiki Info</th>
      </tr>
<!--    <tbody>  -->
    <% for patient_condition in @patient_conditions %>
    <tr>
      <td> <%= h patient_condition.id %> </td>
      <td> <%= h patient_condition.condition_name %> </td>
      <td> <%= h patient_condition.treat_notes %> </td> 
      <td> <%= h patient_condition.treated_by %> </td>  
      <td> <%= button_to "Add to My Record Order", :action => 'add_to_record', :id => patient_condition %></td> 
    </tr>
    <% end %>
<!--    </tbody>  -->
  </table>
