<!-- begin new editransaction' -->
<h3 class="labelPageTitle">New - Electronic Data Interchange Transaction</h3>

<div class="formLayout10">
  <% form_for(@editransaction) do |f| %>
  <%= f.error_messages -%>

  <div class="formInput" ><%= f.label (:isa01).upcase %><div><%= f.text_field :isa01, :size=>2,  :maxlength=>2  %></div></div>
  <div class="formInputNext"><%= f.label (:isa02).upcase %><div><%= f.text_field :isa02, :size=>10, :maxlength=>10 %></div></div>
  <div class="formInput" ><%= f.label (:isa03).upcase %><div><%= f.text_field :isa03, :size=>2,  :maxlength=>2  %></div></div>
  <div class="formInputNext"><%= f.label (:isa04).upcase %><div><%= f.text_field :isa04, :size=>10, :maxlength=>10 %></div></div>

  <div class="formInput"><%= f.label (:isa05).upcase %><div><%= f.text_field :isa05, :size=>2,  :maxlength=>2  %></div></div>
  <div class="formInputNext"><%= f.label (:isa06).upcase %><div><%= f.text_field :isa06, :size=>15, :maxlength=>15 %></div></div>
  <div class="formInput" ><%= f.label (:isa07).upcase %><div><%= f.text_field :isa07, :size=>2,  :maxlength=>2  %></div></div>
  <div class="formInputNext"><%= f.label (:isa08).upcase %><div><%= f.text_field :isa08, :size=>15, :maxlength=>15 %></div></div>

  <div class="formInput" ><%= f.label (:isa09).upcase %><div><%= f.text_field :isa09, :size=>6, :maxlength=>6 %></div></div>
  <div class="formInputNext"><%= f.label (:isa10).upcase %><div><%= f.text_field :isa10, :size=>4, :maxlength=>4 %></div></div>
  <div class="formInput" ><%= f.label (:isa11).upcase %><div><%= f.text_field :isa11, :size=>1, :maxlength=>1 %></div></div>
  <div class="formInputNext"><%= f.label (:isa12).upcase %><div><%= f.text_field :isa12, :size=>5, :maxlength=>5 %></div></div>

  <div class="formInput" ><%= f.label (:isa13).upcase %><div><%= f.text_field :isa13, :size=>9, :maxlength=>9 %></div></div>
  <div class="formInputNext"><%= f.label (:isa14).upcase %><div><%= f.text_field :isa14, :size=>1, :maxlength=>1 %></div></div>
  <div class="formInput" ><%= f.label (:isa15).upcase %><div><%= f.text_field :isa15, :size=>1, :maxlength=>1 %></div></div>
  <div class="formInputNext"><%= f.label (:isa16).upcase %><div><%= f.text_field :isa16, :size=>1, :maxlength=>1 %></div></div>

  <div class="formButton">
    <%= f.submit 'Create', :confirm => 'Are you sure?' %>&nbsp;
    <%= f.submit 'Reset', :type => 'reset',  :confirm => 'Are you sure?'%>
  </div>
  <% end %>
</div><!-- end of formLayout10 -->

<%= link_to 'Index', editransactions_path, :class =>"navLink" %> 
<!-- end of 'editransaction' -->
