<!-- begin show 'editransaction' -->
<div class="labelPageTitle">
    <p>Electronic Data Interchange Transaction</p>
</div>

<div class="indent10">
  <div class="floatLeftLabel">Transaction #:</div>
  <div class="floatLeftData"><%=h @editransaction.isa01 %></div>
  <div class="floatLeftLabel">Field One:</div>
  <div class="floatLeftData"><%=h @editransaction.isa01 %></div>
  <div class="floatLeftLabel">Field Two:</div>
  <div class="floatLeftData"><%=h @editransaction.isa02 %></div> 
  <div class="floatLeftLabel">Field Three:</div>
  <div class="floatLeftData"><%=h @editransaction.isa03 %></div>
</div>

<br />

<div class="navLink">
  <%= link_to 'Edit', edit_editransaction_path(@editransaction) %> |
  <%= link_to 'Back', editransactions_path %>
</div><!-- end of navLink -->
<!-- end of 'editransaction' -->
