<!-- begin show 'editransaction' -->
<div class="labelPageTitle">
    <p>Electronic Data Interchange Transaction</p>
</div>

<div class="formLayout">
  <div class="formLabel ">Transaction #:</div>
  <div class="formData"><%=h @editransaction.isa01 %></div>
  <div class="formLabel ">Field One:</div>
  <div class="formData"><%=h @editransaction.isa01 %></div>
  <div class="formLabel ">Field Two:</div>
  <div class="formData"><%=h @editransaction.isa02 %></div> 
  <div class="formLabel ">Field Three:</div>
  <div class="formData"><%=h @editransaction.isa03 %></div>
</div><!-- end of formLayout -->

<br />

<div class="navLink">
  <%= link_to 'Edit', edit_editransaction_path(@editransaction) %> |
  <%= link_to 'Back', editransactions_path %>
</div><!-- end of navLink -->
<!-- end of 'editransaction' -->
