<h1>EDI Transaction Details place holder <%= @editransaction.isa01 %></h1>

  <p>  <b>Field One</b>  
    <%=h @editransaction.isa01 %> 
  </p> 
  <p>  <b>Field Two</b>  
    <%=h @editransaction.isa02 %> 
  </p>
  <p>  <b>Field Three</b>  
    <%=h @editransaction.isa03 %> 
  </p>

<%= link_to 'Edit', edit_editransaction_path(@editransaction) %> |
<%= link_to 'Back', editransactions_path %>
