<!-- Begin Patient Profile -->
<h1>&#60;Company Name&#62; Patient Profile Records</h1>
    
<div id="mainScrollableWindow">
  <table class="X3" rules="none">
    <tbody>
      <tr>
        <th>Active:</th>
        <th>Id:</th>
        <th>Patient Id</th>
        <th>User Id</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    
      <% for patient_profile in @patient_profiles %>
      <tr>
        <td><%=h (patient_profile.active_patient.equal? true) ? 'Yes' : 'No' %></td>
        <td><%=h patient_profile.id %></td>
        <td><%=h patient_profile.pmd_patient_id %></td>
        <td><%=h patient_profile.pmd_user_id %></td>
        <td><%=h patient_profile.first_name %></td>
        <td><%=h patient_profile.last_name %></td>
        <td><%= link_to 'Show',   patient_profile_path(patient_profile.id) %></td>
        
        <% if patient_profile.active_patient.equal? true %>
          <td><%= link_to 'Disable', patient_profile_path(patient_profile.id), :method => :delete %></td>
        <% else %>
          <td><%= link_to 'Enable', patient_profile_path(patient_profile.id), :method => :delete %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div><!-- end of mainScrollWindow -->
 
  <p>
    <%= link_to 'New patient_profile', new_patient_profile_path, :id=>"index-newButton" %>
  </p>
<!-- End Patient Profile index -->
