<!-- show.html.erb -->
<div class="floatLeftLabelPageTitle">
    <p>Patient Profile</p>
</div>

<div class="floatLeftLabelTitle18">
    <p>Patient ID's:</p>
</div>

<div class="floatLeft clearBoth indent20">
  <div class="floatLeftLabelTitle12">Patient ID:</div>
  <div class="floatLeftData"><%=h @patient_profile.pmd_patient_id %></div>
  <div class="floatLeftLabelTitle12">User ID:</div>
  <div class="floatLeftData"><%=h @patient_profile.pmd_user_id%></div>
</div>

<div class="floatLeftLabelTitle18">
    <p>Contact Information:</p>
</div>

<div class="indent20">
  <div class="floatLeftLabel">Primary Physician:</div>
  <div class="floatLeftData"><%=h @patient_profile.physician_id %></div>
  <div class="floatLeftLabel">First Name:</div>
  <div class="floatLeftData"><%=h @patient_profile.first_name%></div>
  <div class="floatLeftLabel">Last Name:</div>
  <div class="floatLeftData"><%=h @patient_profile.last_name %></div>
  <div class="floatLeftLabel">Email:</div>
  <div class="floatLeftData"><%=h @patient_profile.email%></div>

  <div class="floatLeftLabel">Home:  </div>
  <div class="floatLeftData"><%=h number_to_phone(@patient_profile.phone_home, :area_code=>true, :delimiter=>" ")%></div>
  <div class="floatLeftLabel">Mobile:  </div>
  <div class="floatLeftData"><%=h number_to_phone(@patient_profile.phone_mobile, :area_code=>true, :delimiter=>" ")%></div>
  <div class="floatLeftLabel">Work:  </div>
  <div class="floatLeftData"><%=h number_to_phone(@patient_profile.phone_work, :area_code=>true, :delimiter=>" ")%></div>
  <div class="floatLeftLabel">Fax: </div>
  <div class="floatLeftData"><%=h number_to_phone(@patient_profile.phone_fax, :area_code=>true, :delimiter=>" ")%></div>
  <div class="floatLeftLabel">Emergency: </div>
  <div class="floatLeftData"><%=h number_to_phone(@patient_profile.phone_emergency, :area_code=>true, :delimiter=>" ")%></div>

  <div class="floatLeftLabel">Address:  </div>
  <div class="floatLeftData"><%=h @patient_profile.primary_address %></div>
  <div class="floatLeftLabel">Address2:  </div>
  <div class="floatLeftData"><%=h @patient_profile.alternate_address %></div>
  <div class="floatLeftLabel">City:  </div>
  <div class="floatLeftData"><%=h @patient_profile.city %></div>
  <div class="floatLeftLabel">State/Province:  </div>
  <div class="floatLeftData"><%=h @patient_profile.state_province %></div>
  <div class="floatLeftLabel">Ethnicity: </div>
  <div class="floatLeftData"><%=h @patient_profile.ethnicity %></div>
  <div class="floatLeftLabel">Gender: </div>
  <div class="floatLeftData"><%=h @patient_profile.gender %></div>
  <div class="floatLeftLabel">Date of Birth: </div>
  <div class="floatLeftData"><%=h @patient_profile.date_of_birth %></div>
</div>

<br />
<div class="floatLeft clearBoth indent marginTop20 link">
  <%= link_to 'Edit', edit_patient_profile_path(@patient_profile.id) %> | 
  <%= link_to "Back", patient_profiles_path %> |
  <% if @patient_profile.active_patient.equal? true %>
    <div class="indent10" style="display: inline; color: red;"><%= link_to 'Disable', patient_profile_path(@patient_profile.id), :method => :delete %></div> 
  <% else %>
    <div class="indext10" style="display: inline; color: green;"><%= link_to 'Enable', patient_profile_path(@patient_profile.id), :method => :delete %></div> 
  <% end %>
</div><!-- end of link -->
