<!-- new user account -->

<% title "Login" %>

<div>
  <% form_for(@user_session) do |f| -%>
  <%= f.error_messages -%>

  <h4 class="clearBoth">User (option 1)</h4>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.check_box :remember_me, :class => "checkBox" %><%= f.label :remember_me %>
  </p>

  <p><%= link_to "Forgot password?", new_password_reset_path %></p>  

  <p>
    <%= f.submit 'Login', :confirm => 'Are you sure?' %>
  </p>
  
  <br />
  <h4>OpenID (option 2)</h4>

  <p>
    <%= f.label :openid_identifier, "OpenID URL" %><br />
    <%= f.text_field :openid_identifier %>
  </p>

  <p>
    <%= f.submit 'Login', :id => "openId", :confirm => 'Are you sure?' %>
  </p>

  <% end %>
</div><br class="clearBoth" />

<p>
  <%= link_to 'Index', users_path %>
</p>
<!-- end '_login' -->
