<h1>New editransaction</h1>
div class="emd home made scaffold -form">
<% form_for(@editransaction) do |f| %>
  <%= f.error_messages %>
  <p>

	<fieldset>
  <legend>Manual Entry of Transaction Data - TBD Convert this to dynamic variables</legend>
  <div>
    <%= f.label :"Aetna ISA01 " %>:
    <%= f.text_field :isa01, :size => 40 %>
  </div>
  <div>
    <%= f.label :"Aetna ISA02 " %>:
    <%= f.text_field :isa02, :size => 40 %>
  </div>
  <div>
#sample given - determine standard method (see below)
    <%= f.submit "Add Manual Record", :class => "submit" %>
  </div>
  </fieldset>
    
#sample given - determine standard method (see above)
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', editransactions_path %>
</div>
