

<table>
  <tr>
#Need to make this data driven table headers in the future.
    <th>ISA01</th>
    <th>ISA02</th>
    <th>ISA03</th>
  </tr>

<% @editransactions.each do |editransaction| %>
  <tr>
    <td><%=h editransaction.isa01 %></td>
    <td><%=h editransaction.isa02 %></td>
    <td><%=h editransaction.isa03 %></td>
    <td><%= link_to 'Show', editransaction %></td>
    <td><%= link_to 'Edit', edit_editransaction_path(editransaction) %></td>
    <td><%= link_to 'Destroy', editransaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_editransaction_path(@editransaction) %> |
<%= link_to 'Back', editransactions_path %>
